* {
    font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
}
body {
    height: 100vh;
    background: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 660px;

}

.main-container {
    width: 720px;
    height: 780px;
    background: #ddeccc;
    align-self: center;
    display: flex;
    box-shadow: 0 0 15px 1px rgba(0,0,0,.3);
    
}

.detail {
    background-color: #eee;
    &:hover > .section:not(:hover) {
        opacity: 0.5;
    }
}


.section{
    padding: 30px 10px;
    transition: opacity .2s;
    &:hover{
        .title-icon {
            transform: scale(1.15);
            margin-right: 15px;
        }
    }
}

.skill {
    &__list {
        margin: 0;
        padding: 10px;
        list-style: none;
        li {
            display: flex;
        }
    }
    &__name {
        flex: 1 0 15%;
        transform-origin: center;
        transition: color .3s, transform .3s;
    }
    &__progress {
        flex: 0 1 85%;
        align-self: center;
        .progress {
            overflow: visible;
            border-radius: 5px;
            height: 6px;
            &-bar{
                height: 6px;
                align-self: center;
                border-radius: 5px;
                transition: height .2s, 
                            background .2s;
            }
        }
    }

}

.skill__list li:hover{
    .skill__name {
        color: orange;
        transform: scale(1.05);
    }
    .progress-bar{
        height: 12px;
        background: orange;
    }
}

.width-80 {width: 80%;}
.width-50 {width: 50%;}
.width-40 {width: 40%;}
.width-30 {width: 30%;}
.width-20 {width: 20%;}

h3{
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.title-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #94d82d;
    line-height: 40px;
    color: #eee;
    transition: transform .2s, margin-right .2s;
}

.interest {
    ul {
        display: flex;
        flex-direction: row;
        
    }
    li {
        flex: 0 0 25%;
        align-self: center;
        text-align: center;
        flex-direction: column;
        transition: transform .2s;
        i{
            font-size: 3rem;
            color: #94d82d;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
}

h4{font-size: 1rem;}

ul.my-list__list {
    list-style: none;
    padding: 0;
    li {
        padding-left: 20px;
        margin-left: 15px;
        padding-bottom: 10px;
        position: relative;
        transition: color .2s, transform .2s;
        transform-origin: left;

        &:hover {
            color: #ffaaaa;
            transform: scale(1.05);
        }
        &::before {
            content: "before";
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            content: " ";
            border: 3px solid #3d405b;
            border-radius: 50%;
            left: 0px;
            z-index: 1;
            background: #fff;
        }
        &::after {
            display: block;
            position: absolute;
            content: " ";
            width: 3px;
            height: 100%;
            background: #3d405b;
            left: 5px;
            top: 0;
        }
        h4, small, p {
            margin: 0;
        }
    }
}